footer {
    background-color: var(--light-color);
    color: var(--main-color);
    font-family: var(--second-font);
}
footer .container .col-lg-3 > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .container .col-lg-3 > div b {
    font-size: 16px;
}
footer .container .col-lg-3 > div p {
    margin: 0;
    font-size: 12px;
}
footer .container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}
footer .container ul li {
    list-style: none;
}
footer .container ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12px;
    transform: .5s;
}
footer .container ul li a:hover {
    text-decoration: underline;
}